.cityDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #caf0f8;
    height: 100vh;
}

.content{
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 70%;
}

.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #caf0f8;
}

.info{
    font-size: 20px;
    padding: 20px;
    width: 400px;
    border: 2px solid #227c9d;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

span{
    font-weight: bold;
}

.learnMore{
    background-color: #227c9d;
    border: 2px solid #227c9d;
    border-radius: 5px;
    padding: 10px;
}

.learnMore:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

