.home {
    text-align: center;
    overflow: hidden;
    height: 100vh;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin-bottom: 20px;
  }
